<div class="docs-content d-flex flex-column flex-column-fluid" id="kt_docs_content">
    <!--begin::Container-->
    <div class="container" id="kt_docs_content_container">

        <div class="d-flex align-items-center">
            <a class="btn btn-primary fw-bolder" href="/portal/add">Add portal</a>
        </div>

        <div class="card mb-2 mt-5">
            <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15">
                <table class="table table-row-dashed table-row-gray-300 gy-7">
                    <thead>
                    <tr class="fw-bolder fs-6 text-gray-800">
                        <!--<th>Proxy ID</th>-->
                        <th>Alias</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each portal }}
                        <tr>
                            <!--<td>{{ id }}</td>-->
                            <td>{{ name }}</td>
                            <td>
                                {{#if is_active }}
                                    <span class="badge badge-light-success fs-7 fw-boldest me-2"
                                          onclick="$.changePortalStatus({{ id }}, 'in_active')">Active</span>
                                {{else}}
                                    <span class="badge badge-light-danger fs-7 fw-boldest me-2"
                                          onclick="$.changePortalStatus({{ id }}, 'active')">In active</span>
                                {{/if}}
                            </td>
                            <td>
                                <a href="/portal/edit/{{ id }}" class="btn btn-sm btn-light">Edit</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>