<div class="docs-content d-flex flex-column flex-column-fluid" id="kt_docs_content">
    <div class="container" id="kt_docs_content_container">

        {{#if portals}}{{else}}
            <div class="alert alert-danger d-flex align-items-center p-5">
            <span class="svg-icon svg-icon-2hx svg-icon-danger me-4">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z" fill="#000000" opacity="0.3"></path>
                        <path d="M11.1750002,14.75 C10.9354169,14.75 10.6958335,14.6541667 10.5041669,14.4625 L8.58750019,12.5458333 C8.20416686,12.1625 8.20416686,11.5875 8.58750019,11.2041667 C8.97083352,10.8208333 9.59375019,10.8208333 9.92916686,11.2041667 L11.1750002,12.45 L14.3375002,9.2875 C14.7208335,8.90416667 15.2958335,8.90416667 15.6791669,9.2875 C16.0625002,9.67083333 16.0625002,10.2458333 15.6791669,10.6291667 L11.8458335,14.4625 C11.6541669,14.6541667 11.4145835,14.75 11.1750002,14.75 Z" fill="#000000"></path>
                    </g>
                </svg>
            </span>
                <div class="d-flex flex-column">
                    <h5 class="mb-1">Portals</h5>
                    <span>You have no active portals</span>
                </div>
            </div>
        {{/if }}

        {{#if proxies}}{{else}}
            <div class="alert alert-danger d-flex align-items-center p-5">
            <span class="svg-icon svg-icon-2hx svg-icon-danger me-4">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z" fill="#000000" opacity="0.3"></path>
                        <path d="M11.1750002,14.75 C10.9354169,14.75 10.6958335,14.6541667 10.5041669,14.4625 L8.58750019,12.5458333 C8.20416686,12.1625 8.20416686,11.5875 8.58750019,11.2041667 C8.97083352,10.8208333 9.59375019,10.8208333 9.92916686,11.2041667 L11.1750002,12.45 L14.3375002,9.2875 C14.7208335,8.90416667 15.2958335,8.90416667 15.6791669,9.2875 C16.0625002,9.67083333 16.0625002,10.2458333 15.6791669,10.6291667 L11.8458335,14.4625 C11.6541669,14.6541667 11.4145835,14.75 11.1750002,14.75 Z" fill="#000000"></path>
                    </g>
                </svg>
            </span>
                <div class="d-flex flex-column">
                    <h5 class="mb-1">Proxies</h5>
                    <span>You have no active proxies</span>
                </div>
            </div>
        {{/if }}



        <div class="card mb-2">
            <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15">
                <form class="form" action="/create_task" method="post" id="create-task" enctype="multipart/form-data">

                    <div class="mb-5">
                        <label for="exampleFormControlInput1" class="required form-label">Select a portal for
                            mailing</label>
                        <select class="form-control form-control-solid" name="portal" id="portal" placeholder="Portal"
                                required>
                            <option value="" selected>Choose portal</option>
                            {{#each portals }}
                                <option value="{{ id }}">{{ alias }}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="mb-5">
                        <label for="exampleFormControlInput1" class="required form-label">Landing page link</label>
                        <input type="text" class="form-control form-control-solid" name="target_link" id="target_link"
                               placeholder="Link" required/>
                        <div class="form-text">
                            Custom format:
                            <code>https://domain.com/...</code>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-6 ">
                            <label for="exampleFormControlInput1" class="form-label">Input Username</label>
                            <input type="email" class="form-control form-control-solid" name="user_name" id="user_name"
                                   placeholder="Username"/>
                        </div>

                        <div class="col-md-6 ">
                            <label for="exampleFormControlInput1" class="form-label">Input Lastname</label>
                            <input type="email" class="form-control form-control-solid" name="last_name" id="last_name"
                                   placeholder="Lastname"/>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-6 ">
                            <label for="exampleFormControlInput1" class="required form-label">Input E-mail</label>
                            <input type="email" class="form-control form-control-solid" name="email" id="email"
                                   placeholder="E-mail" required/>
                        </div>
                        <div class="col-md-6 ">
                            <label for="exampleFormControlInput1" class="required form-label">Input password</label>
                            <input type="email" class="form-control form-control-solid" name="password" id="password"
                                   placeholder="Password" required/>
                        </div>
                    </div>

                    <div class="mb-5">
                        <label for="exampleFormControlInput1" class="required form-label">Choose file</label>
                        <input type="file" class="form-control form-control-solid" name="file" id="file"
                               placeholder="Choose file" required />
                        <div class="form-text">
                            Only
                            <code>.docx, .doc, .rtf, .txt and .pdf</code>
                            format allowed!
                        </div>
                    </div>

                    <div class="form-group mt-3 text-right">
                        {{#if portals}}
                            {{#if proxies }}
                                    <button type="submit" class="btn btn-primary" id="btn-create-task">Create task</button>
                                {{else}}
                                    <button type="submit" class="btn btn-primary disabled">Create task</button>
                                {{/if}}
                        {{else}}
                            <button type="submit" class="btn btn-primary disabled">Create task</button>
                        {{/if}}
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>