<div class="docs-content d-flex flex-column flex-column-fluid" id="kt_docs_content">
    <div class="container" id="kt_docs_content_container">

        <div class="d-flex align-items-center">
            <a class="btn btn-primary fw-bolder" href="/create_task">Create task</a>
        </div>

        <div class="card mb-2 mt-5">
            <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15">
                <div class="table-responsive">
                    <table class="table table-striped gy-7 gs-7">
                        <thead>
                        <tr class="fw-bold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                            <th class="min-w-200px">Portal</th>
                            <th class="min-w-400px">Traget link</th>
                            <th class="min-w-200px">Is work</th>
                            <th class="min-w-200px">Status</th>
                            <th class="min-w-100px">All links</th>
                            <th class="min-w-200px">Send links</th>
                            <th class="min-w-200px">Fail links</th>
                            <th class="min-w-200px">Message</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each tasks }}
                            <tr id="task-list">
                                <td>{{ portal_name }}</td>
                                <td>{{ target_link }}</td>
                                {{#if status }}
                                    <td>
                                        <span class="badge badge-light-success fs-7 fw-boldest me-2">True</span>
                                    </td>
                                {{else}}
                                    <td>
                                        <span class="badge badge-light-danger fs-7 fw-boldest me-2">False</span>
                                    </td>
                                {{/if}}
                                {{#ifeq status_order '1'}}
                                    <td>
                                        <span class="badge badge-light-success fs-7 fw-boldest me-2">Done</span>
                                    </td>
                                {{else}}
                                    {{#ifeq status_order '2'}}
                                        <td>
                                            <span class="badge badge-light-danger fs-7 fw-boldest me-2">Fail</span>
                                        </td>
                                    {{else}}
                                        <td>
                                            <span class="badge badge-light-success fs-7 fw-boldest me-2">Created</span>
                                        </td>
                                    {{/ifeq}}
                                {{/ifeq}}
                                <td>{{ all_links }}</td>
                                <td>{{ send_links }}</td>
                                <td>{{ fail_links }}</td>
                                <td>{{ message }}</td>
                                {{#if status }}
                                    <td></td>
                                {{else}}
                                    <td>
                                         <button type="button" class="btn btn-sm btn-active-primary" onclick="$.restartTask({{ task_id }})">Restart</button>
                                    </td>
                                {{/if}}
                            </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="mt-2" id="pagination"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.createPagination({{ total_tasks }}, {{ total_current_tasks }});
    });
</script>